nav{
    background-color: rgb(243, 233, 213);
}

img{
    object-fit: cover;
    width:100%;
    height:100%;
  }

  footer{
    background-color:rgba(255, 145, 0, 0.425);;
    text-align: center;
    margin-top: auto;
}  

.articuloHistoria{
    margin: 0px 20px;
    padding: 5px;
    border-radius: 20px;
    border-width: 20px;
    background: rgba(255, 145, 0, 0.096);
}
.articuloResidencia{
    text-align: center;
    margin: 20px;
}
#tabla{
    margin:20px 50px 0 50px;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
th, tr {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 145, 0, 0.281);
}
th {
    background: rgba(255, 145, 0, 0.281);
}
.formContacto{
    border: 1px solid orange;
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#divForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#patio{
    width:30vw;
    height:20vw;
    margin: 10px;
    border-radius: 30px;
}
.sectionE{
    display: flex;
    justify-content: space-around;
}
.articuloEspecialidades{
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: rgba(255, 145, 0, 0.096);
    border-radius: 25px;
}

h2{
    text-align: center;
    margin: 10px; 
}

h3{
    background:  rgba(255, 145, 0, 0.281);
    border-radius: 25px;
}
